:root {
    --warm-black: #201E1C;
    --warm-black1: #282623;
    --color-button1: linear-gradient(180deg, #a405ee 16.34%, #059ff8 100%);
    --color-button2: linear-gradient(180deg, #ffde00 16.34%, #fd5a00 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #F3F5FC;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    justify-content: space-between;
    background-color: var(--warm-black);
}

header {
    padding: 24px 16px;
    text-align: center;
    background: var(--warm-black1);
}

header h1 {
    font-size: 2.4rem;
    color: white;
}

main {
    display: flex;
    width: 100%;
    /* height: auto; */
    height: 100%;
    flex-grow: 1;
    /* min-height: 100vh; */
}

.main-button-container {
    width: 90%;
    max-width: 317px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-button--start {
    width: 100%;
    max-width: 317px;
    min-width: 235px;
    height: 105px;
    padding: 24px;
    background: var(--color-button1);
    color: white;
    border: none;
    border-radius: 24px;
}

.main-button--add {
    width: 100%;
    max-width: 280px;
    min-width: 235px;
    height: 67px;
    margin-top: 16px;
    padding: 24px;
    background: var(--color-button2);
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.main-add-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 790px;
}

.main-add-container input {
    width: 90%;
    max-width: 320px;
    height: 48px;
    font-size: 3.2rem;
    margin: 40px 10px 10px;
    color: #0A3871;
    border: none;
    outline: none;
    background-color: #F3F5FC;
}

.main-add-container input::placeholder {
    color: #0A3871;
}

.main-add--button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-add--save,
.button-add--cancel {
    width: 90%;
    max-width: 332px;
    min-width: 230px;
    height: 67px;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
}

.button-add--save {
    border: none;
    background: var(--color-button1);
    color: white;
}

.button-add--cancel {
    background: var(--color-button2);
    color: #0A3871;
    border: 1px solid #0A3871;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}

#game {
    /* max-width: 500px; */
    margin-top: 20px;
    align-self: center;
    /* flex-grow: 1; */
    /* margin: 0 auto; */
    background: var(--warm-black);
}

.main-game--winner {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.main-game--winner img {
    width: 70%;
    max-width: 350px;
}

.main-game--winner h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}

ul {
    list-style: none;
}

#hold ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.4rem;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--warm-black1);
}

footer section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

footer ul {
    list-style: none;
    display: flex;
    width: 20%;
    max-width: 240px;
    min-width: 170px;
    justify-content: space-around;
}

footer img {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.inactive {
    display: none;
}