* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #F3F5FC;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    justify-content: space-between;
}

header {
    padding: 24px 16px;
}

main {
    display: flex;
    width: 100%;
    /* height: auto; */
    height: 100%;
    flex-grow: 1;
    /* min-height: 100vh; */
}

.main-button-container {
    width: 90%;
    max-width: 317px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-button--start {
    width: 100%;
    max-width: 317px;
    min-width: 235px;
    height: 105px;
    padding: 24px;
    background-color: #0A3871;
    color: white;
    border: none;
    border-radius: 24px;
}

.main-button--add {
    width: 100%;
    max-width: 280px;
    min-width: 235px;
    height: 67px;
    margin-top: 16px;
    padding: 24px;
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.main-add-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    width: 790px;
}

.main-add-container input {
    width: 90%;
    max-width: 320px;
    height: 48px;
    font-size: 3.2rem;
    margin: 40px 10px 10px;
    color: #0A3871;
    border: none;
    outline: none;
    background-color: #F3F5FC;
}

.main-add-container input::placeholder {
    color: #0A3871;
}

.main-add--button {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-add--save,
.button-add--cancel {
    width: 90%;
    max-width: 332px;
    min-width: 230px;
    height: 67px;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 24px;
}

.button-add--save {
    border: none;
    background-color: #0A3871;
    color: white;
}

.button-add--cancel {
    background-color: #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
}

.main-game-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
}

#game {
    /* max-width: 500px; */
    align-self: center;
    /* flex-grow: 1; */
    /* margin: 0 auto; */
    background: #F3F5FC;
}

.main-game--winner {
    text-align: center;
    align-items: center;
}

.main-game--winner img {
    width: 70%;
    max-width: 350px;
}

.main-game--winner h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 20px;
}

ul {
    list-style: none;
}

#hold ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2.4rem;
}

footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: #0A3871;
}

footer section {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left img {
    width: 100px;
    height: 100px;
}

footer .right ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.right li {
    margin: 10px 0;
    color: white;
}

.inactive {
    display: none;
}